button {
    border: 1px solid;
    background-color: #9fdf9f;
    padding: 8px 20px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-family: Book Antiqua, sans-serif;
    cursor: pointer;
    transition-duration: 0.4s;

}

.button_btn:hover {
    background-color: #206020;
}

body {
    font-family: Book Antiqua, sans-serif;
    background-image: url("https://cdn.wallpapersafari.com/33/23/x2tFaK.jpg");
}

a {
    color: #806000;
}

label, input {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.home-link {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.home-link:hover {
    text-decoration: underline;
}

div {
    text-align: center;
}

.navbar-nav{
    float:right;
}

ul{
    text-align: left
}
