{% extends "base.html" %}

{% block title %}Add a question{% endblock title %}

{% block content %}
<form
    method="POST"
    action="{{ url_for('add_new_question') }}"
    enctype="multipart/form-data"
>
    <label class="form-label" for="title">Title</label><br />
    <textarea
        id="title"
        rows="4"
        class="form-control"
        cols="40"
        name="title"
        required
    ></textarea>

    <label class="form-label mt-3" for="message">Message</label><br />
    <textarea
        id="message"
        class="form-control"
        rows="4"
        cols="40"
        name="message"
        required
    ></textarea>

    <label class="form-label mt-3" for="image">Upload image</label>
    <input
        type="file"
        accept="image/*"
        name="image"
        id="image"
        class="form-control"
    />
    <button class="button_btn" type="submit">Add</button>
</form>
{% endblock %}
