<html>
    <head>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bonusQuestions.js') }}" defer></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/doNotModifyThisFile.js') }}" defer></script>
        <title>JavaScript Change Font Size</title>
        <link rel="stylesheet" href="static/bonusQuestion.css">
    </head>
    <body>
     <div class="container" >
        <h1 id="head">AskMate</h1>
        <h2 id="seme_head">All Questions:</h2>
        <button  type="button" id="theme-button">Change Theme to Dark</button>
        <button  type="button" id="increase-font-button" onclick="changeFontSize('increase')">Increase page font</button>
        <button  type="button" id="decrease-font-button" onclick="changeFontSize('decrease')">Decrease page font</button>
        <input
                data-table-body="doNotModifyThisId_QuestionsTableBody"
                style="width: 500px" id="doNotModifyThisId_QuestionsFilter"
                type="text"
                placeholder="filter questions by keywords">
        <table>
            <thead id="doNotModifyThisId_QuestionsTableHeader">
                <tr id="row">
                    <td>Title</td>
                    <td>Description</td>
                    <td>Vote Count</td>
                    <td>View Number</td>
                </tr>
            </thead>
            <tbody id="doNotModifyThisId_QuestionsTableBody">
                {% for question in questions %}
                    <tr>
                        <td>{{ question['title'] }}</td>
                        <td>{{ question['description'] }}</td>
                        <td>{{ question['vote_number'] }}</td>
                        <td>{{ question['view_number'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
     </div>
    </body>
</html>
