{% extends "base.html" %} {% block title %}Edit comment{% endblock title %} {%
    block content %}
        <form
            method="POST"
            action="{{ url_for('edit_comment', comment_id=comment_id) }}"
        >
            <p>
                <label for="message">Message</label><br />
                <textarea
                    id="message"
                    rows="4"
                    cols="40"
                    name="message"
                    required
                >{{ comment.message }}</textarea
                >
            </p>

            <button type="submit">Edit</button>
        </form>
{% endblock %}