{% extends "base.html" %} {% block title %}Question{% endblock title %} {% block
content %}
<h2>QUESTION</h2>
<h1>{{question_id}}</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Message</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ question.title }}</td>
            <td>{{ question.message }}</td>
        </tr>
    </tbody>
</table>

<div class="d-grid gap-2 d-md-block">
    <form
        class="d-inline"
        {#actionaction="{{ url_for('edit_question', question_id=question.id)}}"#}
    >
        <button class="btn btn-warning" type="submit">Edit question</button>
    </form>
        <form
        class="d-inline"
        action="{{ url_for('delete_questions', question_id=question_id)}}"
        method="GET"
        >
        <button class="btn btn-danger" type="submit">Delete question</button>
        </form>
</div>
<br /><br />

<h2>ANSWERS</h2>
<div class="d-grid gap-2 d-md-block">
    <form
        class="d-inline"
        action="{{ url_for('add_new_answer', question_id=question.id)}}"
    >
        <button class="btn btn-info" type="submit">Post an answer</button>
    </form>
</div>

{% endblock %}
