{% extends "base.html" %} {% block title %}Question{% endblock title %} {% block
content %}
<h2>QUESTION</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Message</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ question.title }}</td>
            <td>{{ question.message }}</td>
        </tr>
    </tbody>
</table>

{#<div class="d-grid gap-2 d-md-block">#}
{#    <form#}
{#        class="d-inline"#}
{#        action="{{ url_for('edit_question', question_id=question.id)}}"#}
{#    >#}
{#        <button class="btn btn-warning" type="submit">Edit question</button>#}
{#    </form>#}
{#    <form#}
{#        class="d-inline"#}
{#        action="{{ url_for('delete_questions', question_id=question.id)}}"#}
{#    >#}
{#        <button class="btn btn-danger" type="submit">Delete question</button>#}
{#    </form>#}
{#</div>#}
{#<br /><br />#}
{##}
{#<h2>ANSWERS</h2>#}
{#<div class="d-grid gap-2 d-md-block">#}
{#    <form#}
{#        class="d-inline"#}
{#        action="{{ url_for('add_new_answer', question_id=question.id)}}"#}
{#    >#}
{#        <button class="btn btn-info" type="submit">Post an answer</button>#}
{#    </form>#}
{#</div>#}
{#<br />#}
{#{% for answer in answers %}#}
{#<div class="card">#}
{#    <div class="card-body">#}
{#        {% if question.image %}#}
{#        <p class="card-link">#}
{#            <img#}
{#                src="{{ url_for('static', filename='images/' + question.image) }}"#}
{#                style="width: 100px; height: 100px"#}
{#                alt="No image found"#}
{#            />#}
{#        </p>#}
{#        {% endif %}#}
{#        <h5 class="card-title">{{ answer.submission_time }}</h5>#}
{#        <p class="card-text">{{ answer.message }}</p>#}
{#        <p class="card-link">{{ answer.vote_number }}</p>#}
{#        <div class="d-flex">#}
{#            <form#}
{#                class="d-inline"#}
{#                action="{{ url_for('vote_up_answer', answer_id=answer.id)}}"#}
{#            >#}
{#                <button class="btn btn-primary" type="submit">Vote up</button>#}
{#            </form>#}
{#            <form#}
{#                class="d-inline ml-1"#}
{#                action="{{ url_for('vote_down_answer', answer_id=answer.id)}}"#}
{#            >#}
{#                <button class="btn btn-danger" type="submit">Vote down</button>#}
{#            </form>#}
{#            <form#}
{#                class="d-inline ml-auto"#}
{#                action="{{ url_for('delete_answers', answer_id=answer.id)}}"#}
{#            >#}
{#                <button class="btn btn-danger" type="submit">#}
{#                    Delete answer#}
{#                </button>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#<br />#}
{#{% endfor %} #}
{% endblock %}
