<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="margin-left: 20px;">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Message</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ question.title }}</td>
                <td>{{ question.message }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-grid gap-2 d-md-block">
        <form class="btn btn-outline-success" action="{{ url_for('edit_question', question_id=question.id)}}">
        <button class="btn btn-outline-success" type="submit">Edit question</button>
        </form>
        <form class="btn btn-outline-danger" action="{{ url_for('delete_questions', question_id=question.id)}}">
        <button class="btn btn-outline-danger" type="submit">Delete question</button>
        </form>
    </div>
    <h1>ANSWERS</h1>
    <br>
    <div class="d-grid gap-2 d-md-block">
        <form class="btn btn-outline-primary" action="{{ url_for('add_new_answer', question_id=question.id)}}">
        <button class="btn btn-outline-primary" type="submit">Post an answer</button>
        </form>
    </div> <br>
    {% for answer in answers %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ answer.submission_time | datetime }}</h5>
            <p class="card-text">{{ answer.message }}</p>
            <p class="card-link">{{ answer.vote_number }}</p>
            <form class="btn btn-outline-danger" action="{{ url_for('delete_answers', answer_id=answer.id)}}">
            <button class="btn btn-outline-danger" type="submit">Delete answer</button>
            </form>
          </div>
        </div> <br>
    {% endfor %}
</body>
</html>